{
  "jsonrpc": "2.0",
  "method": "dashboard.create",
  "params": {
    "name": "USE Dashboard",
    "pages": [
      {
        "widgets": [
          {
            "type": "graph",
            "name": "CPU Usage",
            "x": 0, "y": 0, "width": 6, "height": 5,
            "fields": [
              {"name": "itemids", "value": ["system.cpu.util[,idle]"]}
            ]
          },
          {
            "type": "graph",
            "name": "Memory Usage",
            "x": 6, "y": 0, "width": 6, "height": 5,
            "fields": [
              {"name": "itemids", "value": ["vm.memory.size[available]"]}
            ]
          }
        ]
      }
    ]
  },
  "auth": "{{ zabbix_api_token }}",
  "id": 1
}